.tag {
    padding: 5px 10px;
    display: inline-block;
    color: white;
    // font-family: $alt-font; 
    font-size: 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
}