@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,900&display=swap");

$font: "Roboto", sans-serif;
$alt-font: "Bebas Neue", cursive;

* {
    font-family: $font;
}

h1 {
    font-family: $alt-font;
}
